*.xml
*.iml
/backend_to_do_list/target/classes/configs/AppConfig.class
/backend_to_do_list/target/classes/configs/WebAppInitializer.class
/backend_to_do_list/target/classes/configs/WebConfig.class
/backend_to_do_list/target/classes/controllers/TaskController.class
/backend_to_do_list/target/classes/dao/TaskDAO.class
/backend_to_do_list/target/classes/dao/TaskDAOImp.class
/backend_to_do_list/target/classes/db.properties
/backend_to_do_list/target/classes/models/Task.class
/backend_to_do_list/target/classes/services/TaskService.class
/backend_to_do_list/target/classes/services/TaskServiceImpl.class
/backend_to_do_list/target/maven-archiver/pom.properties
/backend_to_do_list/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/backend_to_do_list/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/backend_to_do_list/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT.war
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/META-INF/MANIFEST.MF
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/configs/AppConfig.class
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/configs/WebAppInitializer.class
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/configs/WebConfig.class
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/controllers/TaskController.class
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/dao/TaskDAO.class
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/dao/TaskDAOImp.class
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/db.properties
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/models/Task.class
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/services/TaskService.class
/backend_to_do_list/target/to_do_list-1.0-SNAPSHOT/WEB-INF/classes/services/TaskServiceImpl.class
*.jar
